body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #256729;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.App {
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.properties {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10.8rem;
}

.property {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.property img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
  object-fit: cover;
}

.property div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 8px 24px;
  text-align: center;
}

.property p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
  text-align: center;
}

.property span {
  display: block;
  font-size: 24px;
  color: #256729;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .properties {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
    justify-content: center;
  }

  .properties p {
    font-size: 18px;
    margin-bottom: initial;
  }

  .properties span {
    font-size: 18px;
  }
}

.button-container {
  margin-bottom: 16px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
